.main * {
    margin: 0;
}
.main {
    /* position: absolute;
    bottom: 0; */
    height: -2vh;
    width: 100%;
    color: hsl(0, 0%, 60%);
    background-color: white;
    padding: 2ch 0 5ch 0;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}



.col {
    width: 30vw;
}
/* .col > a {
    height: 5ch;
} */
.col p, .col a {
    padding: 2%;
}

.col p:hover {
    color: hsl(0, 0%, 20%);
    cursor: pointer;
    transition: ease-in 0.3s color;
}


.col[data-to-top] {
    /* background-color:aquamarine; */
    --icon: 4%;
    width: var(--icon);
    height: var(--icon);
}
.col[data-to-top] svg {
    height: 10%;
    aspect-ratio: 1/1;
    /* background-color: bisque; */
    cursor: pointer;
}
.col[data-to-top] svg:hover {
    color: hsl(0, 0%, 30%)
}

/* .col[data-to-top] *:not(svg) {
    pointer-events: none;
} */

@media only screen and (max-width: 768px) {
    .main {
        flex-wrap: wrap;
    }

    .col {
        padding: 1ch 0;
        width: 50%;
    }

    .col p, .col a {
        display: block;
        width: 100%;
        font-size: 0.8rem;
    }

    .col[data-nav] {
        font-weight: 500;
    }
    .col[data-rights] {
        color: hsl(0, 0%, 80%);
    }
    .col[data-to-top] svg {

        width: 48px;
        height: 48px;
        /* width: calc(var(--icon) * 3);
        height: calc(var(--icon) * 3); */
    }
}